<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_PersonalisedContent>
            <version>1.1.0</version>
        </Meanbee_PersonalisedContent>
    </modules>
    <global>
        <blocks>
            <meanbee_personalisedcontent>
                <class>Meanbee_PersonalisedContent_Block</class>
            </meanbee_personalisedcontent>
            <adminhtml>
                <rewrite>
                    <cms_block_edit_form>Meanbee_PersonalisedContent_Block_Adminhtml_Cms_Block_Edit_Form</cms_block_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <meanbee_personalisedcontent>
                <class>Meanbee_PersonalisedContent_Helper</class>
            </meanbee_personalisedcontent>
        </helpers>
        <models>
            <meanbee_personalisedcontent>
                <class>Meanbee_PersonalisedContent_Model</class>
                <resourceModel>meanbee_personalisedcontent_resource</resourceModel>
            </meanbee_personalisedcontent>
            <meanbee_personalisedcontent_resource>
                <class>Meanbee_PersonalisedContent_Model_Resource</class>
                <entities>
                    <customer_categories>
                        <table>meanbee_personalisedcontent_customer_categories</table>
                    </customer_categories>
                    <cms_block_personalisation>
                        <table>meanbee_personalisedcontent_cms_block_personalisation</table>
                    </cms_block_personalisation>
                </entities>
            </meanbee_personalisedcontent_resource>
            <cms_resource>
                <rewrite>
                    <block>Meanbee_PersonalisedContent_Model_Resource_Cms_Block</block>
                </rewrite>
            </cms_resource>
        </models>
        <resources>
            <meanbee_personalisedcontent_setup>
                <setup>
                    <module>Meanbee_PersonalisedContent</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </meanbee_personalisedcontent_setup>
        </resources>
    </global>
    <default>
        <meanbee_personalisedcontent>
            <general>
                <enabled>0</enabled>
            </general>
            <interactions>
                <use_orders>1</use_orders>
                <order_weighting>50</order_weighting>
                <use_pageviews>1</use_pageviews>
                <pageview_weighting>5</pageview_weighting>
            </interactions>
        </meanbee_personalisedcontent>
    </default>
    <crontab>
        <jobs>
            <customer_categories_update>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>meanbee_personalisedcontent/observer::reindexCustomerCategories</model>
                </run>
            </customer_categories_update>
        </jobs>
    </crontab>
</config>
